<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Reserva de Archivo</title>
</head>
<body>
    <h1>Reserva de Archivo Rojo</h1>
    <p>Nombre completo: <%= fullName %></p>
    <p>Correo de contacto: <%= email %></p>
    <p>Fecha deseada de la reserva: <%= date %></p>
    <p>Descripción o motivo: <%= description %></p>
    <p>Código de referencia: <%= code %></p>
</body>
</html>