<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Reserva de Archivo</title>
</head>
<body>
    <h1>Reserva de Archivo rojo</h1>
    <p>Nombre completo: <%= fullName %></p>
    <p>Email: <%= email %></p>
    <p>Fecha: <%= date %></p>
    <p>Descripción: <%= description %></p>
    <p>Código: <%= code %></p>
</body>
</html>